* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 207, 207);
}

.main {
  margin: 12px auto;
  width: 95%;
  max-width: 700px;
  border: 0 solid rgb(128, 128, 128);
  padding: 20px;
  box-shadow: 2px 6px 12px rgb(136, 136, 136);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  font-style: italic;
  padding: 2px 0;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}

.tasks {
  color: rgb(0, 0, 0);
  text-align: left;
}

.box {
  display: flex;
  gap: 24px;
}

.ellipsis,
.delete {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: rgb(15, 146, 179);
}

.task-items {
  padding: 4px;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listItems {
  margin-top: -16px;
}

.clearCompleted {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  background-color: rgb(239, 239, 239);
  border: 0 solid grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.clearCompleted:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(2, 10, 250);
}

.list {
  padding: 20px 0;
  font-size: 18px;
}

.grey-rule {
  border-bottom: 1px solid grey;
}
