* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.main {
  margin: 12px 24px;
  border: 0 solid rgb(128, 128, 128);
  padding: 20px;
  box-shadow: 2px 6px 12px rgb(136, 136, 136);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  font-style: italic;
  padding: 20px 0;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}

.tasks {
  color: rgb(0, 0, 0);
  text-align: left;
}

.box {
  display: flex;
  gap: 24px;
}

.ellipsis,
.delete {
  cursor: pointer;
}

/* .delete {
  display: none;
} */

/* .d-none {
  display: none;
} */

.itemSelected {
  background-color: rgba(255, 249, 164, 0.884);
}

.checked {
  text-decoration: line-through;
  color: rgb(15, 146, 179);
}

.task-items {
  border: 2px solid brown;
  padding: 12px;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* border: 2px solid gold; */
}

.clearCompleted {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  background-color: rgb(239, 239, 239);
  border: 0 solid grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.clearCompleted:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(2, 10, 250);
}

.list {
  padding: 20px 0;
  font-size: 18px;
}

.grey-rule {
  border-bottom: 1px solid grey;
}
